## Flights and Domestic Airlines 
Providing the best recommendations for domestic travel in the U.S. In our general applications we are using 2015 data to determine delay information and predict which airlines contains the best flights. 

We are also determining if the weather that day was the reason for the flight cancellation or weather the airline was at fault.

Finally with flight. We are looking into Hotel Recommendations and determining the best hotels domestically based on reviews.

In [40]:
# Install mysql connector, SQLAlchemy
import pandas as pd; import numpy as np, os, mysql.connector as maria; from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Time, DateTime, Date

In [28]:
# Get Flight Delay information and cleanse the data for missing values

# Airports CSV
airport_info = pd.read_csv("airports.csv", sep = ",")

# Airlines CSV
airlines_info = pd.read_csv("airlines.csv", sep = ",")
airlines_info

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [29]:
airport_info

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603
10,ADQ,Kodiak Airport,Kodiak,AK,USA,57.74997,-152.49386
11,AEX,Alexandria International Airport,Alexandria,LA,USA,31.32737,-92.54856
12,AGS,Augusta Regional Airport (Bush Field),Augusta,GA,USA,33.36996,-81.96450
13,AKN,King Salmon Airport,King Salmon,AK,USA,58.67680,-156.64922
14,ALB,Albany International Airport,Albany,NY,USA,42.74812,-73.80298
15,ALO,Waterloo Regional Airport,Waterloo,IA,USA,42.55708,-92.40034
16,AMA,Rick Husband Amarillo International Airport,Amarillo,TX,USA,35.21937,-101.70593
17,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
18,APN,Alpena County Regional Airport,Alpena,MI,USA,45.07807,-83.56029
19,ASE,Aspen-Pitkin County Airport,Aspen,CO,USA,39.22316,-106.86885
20,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,GA,USA,33.64044,-84.42694
21,ATW,Appleton International Airport,Appleton,WI,USA,44.25741,-88.51948
22,AUS,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
23,AVL,Asheville Regional Airport,Asheville,NC,USA,35.43619,-82.54181
24,AVP,Wilkes-Barre/Scranton International Airport,Wilkes-Barre/Scranton,PA,USA,41.33815,-75.72427
25,AZO,Kalamazoo/Battle Creek International Airport,Kalamazoo,MI,USA,42.23488,-85.55206
26,BDL,Bradley International Airport,Windsor Locks,CT,USA,41.93887,-72.68323
27,BET,Bethel Airport,Bethel,AK,USA,60.77978,-161.83800
28,BFL,Meadows Field,Bakersfield,CA,USA,35.43360,-119.05677
29,BGM,Greater Binghamton Airport,Binghamton,NY,USA,42.20848,-75.97961
...,...,...,...,...,...,...,...
292,SRQ,Sarasota-Bradenton International Airport,Sarasota,FL,USA,27.39533,-82.55411
293,STC,St. Cloud Regional Airport,St Cloud,MN,USA,45.54532,-94.05834
294,STL,St. Louis International Airport at Lambert Field,St Louis,MO,USA,38.74769,-90.35999
295,STT,Cyril E. King Airport,Charlotte Amalie,VI,USA,18.33731,-64.97336
296,STX,Henry E. Rohlsen Airport,Christiansted,VI,USA,17.70189,-64.79856
297,SUN,Friedman Memorial Airport,Hailey,ID,USA,43.50484,-114.29659
298,SUX,Sioux Gateway Airport,Sioux City,IA,USA,42.40260,-96.38437
299,SWF,Stewart International Airport,Newburgh,NY,USA,41.50409,-74.10484
300,SYR,Syracuse Hancock International Airport,Syracuse,NY,USA,43.11119,-76.10631
301,TLH,Tallahassee International Airport,Tallahassee,FL,USA,30.39653,-84.35033
302,TOL,Toledo Express Airport,Toledo,OH,USA,41.58681,-83.80783
303,TPA,Tampa International Airport,Tampa,FL,USA,27.97547,-82.53325
304,TRI,Tri-Cities Regional Airport,Bristol,TN,USA,36.47521,-82.40742
305,TTN,Trenton Mercer Airport,Trenton,NJ,USA,40.27669,-74.81347
306,TUL,Tulsa International Airport,Tulsa,OK,USA,36.19837,-95.88824
307,TUS,Tucson International Airport,Tucson,AZ,USA,32.11608,-110.94103
308,TVC,Cherry Capital Airport,Traverse City,MI,USA,44.74144,-85.58224
309,TWF,Magic Valley Regional Airport (Joslin Field),Twin Falls,ID,USA,42.48180,-114.48774
310,TXK,Texarkana Regional Airport (Webb Field),Texarkana,AR,USA,33.45371,-93.99102
311,TYR,Tyler Pounds Regional Airport,Tyler,TX,USA,32.35414,-95.40239
312,TYS,McGhee Tyson Airport,Knoxville,TN,USA,35.81249,-83.99286
313,UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN
314,VEL,Valdez Airport,Vernal,UT,USA,40.44090,-109.50992
315,VLD,Valdosta Regional Airport,Valdosta,GA,USA,30.78250,-83.27672
316,VPS,Destin-Fort Walton Beach Airport/Eglin AFB,Valparaiso,FL,USA,30.48325,-86.52540
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [4]:
import pandas as pd
# Flight information (5,819,079  Rows)
# First chunk of a million rows
my_chunk = pd.read_csv("flights.csv", sep=',', nrows =1000000) # Read Rows in Smaller Numbers or chunks

columns = list(my_chunk) # Create a list of column names for the dataset

my_chunk.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# Cleanse Data
try:
    # Concatenate Date columns and give day of the week (e.g. 1/1/2015 and Sunday instead of 7)
    my_chunk.insert(loc=0, column = "DATE", value =my_chunk["MONTH"].map(str) + "/" + my_chunk['DAY'].map(str) + "/" + my_chunk['YEAR'].map(str))

    # Drop individual dates from columns
    my_chunk = my_chunk.drop(columns = ['YEAR','MONTH', 'DAY'])


    #Map days of the week to numeric values
    days_of_week = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7:'Sunday'}
    my_chunk["DAY_OF_WEEK"].replace(days_of_week, inplace=True) # match category names with values in the dictionary

    # Change the times in the dataframe so they are formatted as HH:MM (e.g. 23:54 instead of 2354)
    

except:
    print("Data has already been cleansed")

Columns have either been dropped or don't exist

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1/1/2015,Thursday,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2015,Thursday,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2015,Thursday,US,840,N171US,SFO,CLT,20,18.0,-2.0,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2015,Thursday,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2015,Thursday,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,1/1/2015,Thursday,DL,806,N3730B,SFO,MSP,25,20.0,-5.0,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,1/1/2015,Thursday,NK,612,N635NK,LAS,MSP,25,19.0,-6.0,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,1/1/2015,Thursday,US,2013,N584UW,LAX,CLT,30,44.0,14.0,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,1/1/2015,Thursday,AA,1112,N3LAAA,SFO,DFW,30,19.0,-11.0,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,1/1/2015,Thursday,DL,1173,N826DN,LAS,ATL,30,33.0,3.0,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,1/1/2015,Thursday,DL,2336,N958DN,DEN,ATL,30,24.0,-6.0,...,453.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,1/1/2015,Thursday,AA,1674,N853AA,LAS,MIA,35,27.0,-8.0,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,1/1/2015,Thursday,DL,1434,N547US,LAX,MSP,35,35.0,0.0,...,605.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,1/1/2015,Thursday,DL,2324,N3751B,SLC,ATL,40,34.0,-6.0,...,553.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,1/1/2015,Thursday,DL,2440,N651DL,SEA,MSP,40,39.0,-1.0,...,557.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,1/1/2015,Thursday,AS,108,N309AS,ANC,SEA,45,41.0,-4.0,...,455.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,1/1/2015,Thursday,DL,1560,N3743H,ANC,SEA,45,31.0,-14.0,...,451.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,1/1/2015,Thursday,UA,1197,N78448,SFO,IAH,48,42.0,-6.0,...,619.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,1/1/2015,Thursday,AS,122,N413AS,ANC,PDX,50,46.0,-4.0,...,507.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,1/1/2015,Thursday,DL,1670,N806DN,PDX,MSP,50,45.0,-5.0,...,551.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,1/1/2015,Thursday,NK,520,N525NK,LAS,MCI,55,120.0,25.0,...,543.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,1/1/2015,Thursday,AA,371,N3GXAA,SEA,MIA,100,52.0,-8.0,...,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,1/1/2015,Thursday,NK,214,N632NK,LAS,DFW,103,102.0,-1.0,...,529.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,1/1/2015,Thursday,AA,115,N3CTAA,LAX,MIA,105,103.0,-2.0,...,839.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,1/1/2015,Thursday,DL,1450,N671DN,LAS,MSP,105,102.0,-3.0,...,545.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,1/1/2015,Thursday,UA,1545,N76517,LAX,IAH,115,112.0,-3.0,...,607.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
26,1/1/2015,Thursday,AS,130,N457AS,FAI,SEA,115,107.0,-8.0,...,545.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,1/1/2015,Thursday,NK,597,N528NK,MSP,FLL,115,127.0,12.0,...,607.0,25.0,0,0,NaN,25.0,0.0,0.0,0.0,0.0
28,1/1/2015,Thursday,US,413,N571UW,LAS,CLT,120,110.0,-10.0,...,754.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,1/1/2015,Thursday,AA,2392,N3HRAA,DEN,MIA,120,141.0,21.0,...,709.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,3/7/2015,Saturday,US,1742,N520UW,LAX,CLT,915,914.0,-1.0,...,1641.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999971,3/7/2015,Saturday,VX,204,N641VA,SFO,ORD,915,1112.0,117.0,...,1730.0,125.0,0,0,NaN,0.0,0.0,117.0,0.0,8.0
999972,3/7/2015,Saturday,VX,500,N640VA,FLL,JFK,915,923.0,8.0,...,1201.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999973,3/7/2015,Saturday,VX,902,N528VA,SFO,LAS,915,915.0,0.0,...,1048.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999974,3/7/2015,Saturday,WN,443,N368SW,DAL,LIT,915,913.0,-2.0,...,1010.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999975,3/7/2015,Saturday,WN,3187,N919WN,STL,PHX,915,910.0,-5.0,...,1134.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999976,3/7/2015,Saturday,WN,2511,N248WN,PIT,TPA,915,910.0,-5.0,...,1133.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999977,3/7/2015,Saturday,EV,4864,N15986,BTR,IAH,915,911.0,-4.0,...,1018.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999978,3/7/2015,Saturday,EV,4626,N17146,MSP,IAH,915,900.0,-15.0,...,1205.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999979,3/7/2015,Saturday,EV,4630,N28529,LFT,IAH,915,905.0,-10.0,...,1003.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999980,3/7/2015,Saturday,EV,4650,N26141,IAH,TUS,915,908.0,-7.0,...,1048.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999981,3/7/2015,Saturday,EV,4714,N14162,EWR,CLT,915,910.0,-5.0,...,1108.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999982,3/7/2015,Saturday,EV,4942,N147PQ,IAH,MSP,915,906.0,-9.0,...,1139.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999983,3/7/2015,Saturday,EV,5047,N883AS,SCE,ATL,915,910.0,-5.0,...,1132.0,15.0,0,0,NaN,15.0,0.0,0.0,0.0,0.0
999984,3/7/2015,Saturday,EV,5550,N917EV,CHA,ATL,915,910.0,-5.0,...,1007.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999985,3/7/2015,Saturday,EV,6103,N21197,CID,DEN,915,913.0,-2.0,...,1033.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999986,3/7/2015,Saturday,HA,19,N581HA,SMF,HNL,915,907.0,-8.0,...,1313.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999987,3/7/2015,Saturday,HA,303,N483HA,HNL,LIH,915,906.0,-9.0,...,948.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999988,3/7/2015,Saturday,MQ,3099,N699MQ,DFW,ACT,915,942.0,27.0,...,1015.0,22.0,0,0,NaN,0.0,0.0,2.0,20.0,0.0
999989,3/7/2015,Saturday,MQ,2983,N500MQ,DFW,AMA,915,948.0,33.0,...,1054.0,28.0,0,0,NaN,0.0,0.0,28.0,0.0,0.0
999990,3/7/2015,Saturday,MQ,3206,N606MQ,ORD,GRR,915,914.0,-1.0,...,1111.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999991,3/7/2015,Saturday,NK,446,N527NK,LAS,ORD,915,1047.0,92.0,...,1609.0,81.0,0,0,NaN,1.0,0.0,0.0,80.0,0.0
999992,3/7/2015,Saturday,NK,893,N614NK,ORD,DFW,915,913.0,-2.0,...,1137.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999993,3/7/2015,Saturday,OO,2875,N868CA,LAX,ABQ,915,859.0,-16.0,...,1159.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999994,3/7/2015,Saturday,OO,4725,N442SW,MSP,OMA,915,911.0,-4.0,...,1020.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999995,3/7/2015,Saturday,OO,6396,N114SY,BOI,SFO,915,912.0,-3.0,...,957.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999996,3/7/2015,Saturday,AA,334,N566AA,DFW,MFE,916,919.0,3.0,...,1042.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999997,3/7/2015,Saturday,MQ,3641,N601MQ,DSM,DFW,916,939.0,23.0,...,1131.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999998,3/7/2015,Saturday,OO,5244,N710SK,LAX,ASE,916,915.0,-1.0,...,1242.0,26.0,0,0,NaN,26.0,0.0,0.0,0.0,0.0
999999,3/7/2015,Saturday,DL,805,N129DL,MSP,LAX,917,915.0,-2.0,...,1052.0,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
my_chunk.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1-1-2015
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1-1-2015
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1-1-2015
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1-1-2015
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1-1-2015

In [67]:
# Data Storage
# Create Table that will store flight data in MariaDB

engine = create_engine('mysql+mysqlconnector://[user]:[password]@localhost/[schema]', echo=False) # Encrypt password in configuration library
meta = MetaData()

# Run this cell once
try:
    flights = Table(
       'flights', meta, 
       Column('YEAR', Integer)
    )

    meta.create_all(engine)

    def add_column(engine, table_name, column):
        column_name = column.compile(dialect=engine.dialect)
        column_type = column.type.compile(engine.dialect)
        engine.execute('ALTER TABLE %s ADD COLUMN %s %s' % (table_name, column_name, column_type))

    dtypes = [Date, String(50), String(50),String(6),String(3),String(3), Time, Time, Integer
              , Integer, Time, Integer, Integer, Integer, Integer, Time, Integer, Time, Time, Integer, String(50)
              , String(50), String(1), Integer, Integer, Integer, Integer, Integer]

    columns = list(my_chunk)
    columns = columns[3:]
    columns[0] = "DATE"

    for c,d in zip(columns,dtypes):
        column = Column(c,d)
        add_column(engine, "flights", column)
except:
    print("The Database already has the columns!")

try:
    engine.execute('ALTER TABLE %s DROP COLUMN %s' % ('flights', 'YEAR'))
except:
    print("Column has already been dropped")

# Import the first 1,000,000 rows into database for further analysis
#data.to_sql(name='flights', con=engine, if_exists = 'append', index=False)

The Database already has the columns!

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1091 (42000): Can't DROP COLUMN `YEAR`; check that it exists
[SQL: ALTER TABLE flights DROP COLUMN YEAR]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# Create Machine Learning Model to predict if Airline probability of having a delay (SciKit Learn Values)

In [ ]:
# Use Weather API to see if weather affected the flight status (e.g. Weatherbug)

In [ ]:
# Create Visualizations of Airport information