## Flights and Domestic Airlines 
Providing the best recommendations for domestic travel in the U.S. In our general applications we are using 2015 data to determine delay information and predict which airlines contains the best flights. 

We are also determining if the weather that day was the reason for the flight cancellation or weather the airline was at fault.

Finally with flight. We are looking into Hotel Recommendations and determining the best hotels domestically based on reviews.

In [9]:
# Install mysql connector, SQLAlchemy
import pandas as pd; import numpy as np, os, mysql.connector as maria; from sqlalchemy import create_engine

In [13]:
# Get Flight Delay information and cleanse the data for missing values

# Airports CSV
airport_info = pd.read_csv("airports.csv", sep = ",")

# Airlines CSV
airlines_info = pd.read_csv("airlines.csv", sep = ",")
airlines_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
IATA_CODE    14 non-null object
AIRLINE      14 non-null object
dtypes: object(2)
memory usage: 152.0+ bytes

In [1]:
import pandas as pd
# Flight information (5,819,079  Rows)
my_chunk = pd.read_csv("flights.csv", sep=',', nrows =1000000) # Read Rows in Smaller Numbers or chunks

columns = list(my_chunk) # Create a list of column names for the dataset

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,4,DL,2336,N958DN,DEN,ATL,30,...,453.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,4,AA,1674,N853AA,LAS,MIA,35,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,4,DL,1434,N547US,LAX,MSP,35,...,605.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,4,DL,2324,N3751B,SLC,ATL,40,...,553.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,4,DL,2440,N651DL,SEA,MSP,40,...,557.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,455.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,4,DL,1560,N3743H,ANC,SEA,45,...,451.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,4,UA,1197,N78448,SFO,IAH,48,...,619.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,4,AS,122,N413AS,ANC,PDX,50,...,507.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,4,DL,1670,N806DN,PDX,MSP,50,...,551.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,4,NK,520,N525NK,LAS,MCI,55,...,543.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,100,...,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,4,NK,214,N632NK,LAS,DFW,103,...,529.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,4,AA,115,N3CTAA,LAX,MIA,105,...,839.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,4,DL,1450,N671DN,LAS,MSP,105,...,545.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,4,UA,1545,N76517,LAX,IAH,115,...,607.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,4,AS,130,N457AS,FAI,SEA,115,...,545.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,4,NK,597,N528NK,MSP,FLL,115,...,607.0,25.0,0,0,NaN,25.0,0.0,0.0,0.0,0.0
28,2015,1,1,4,US,413,N571UW,LAS,CLT,120,...,754.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,4,AA,2392,N3HRAA,DEN,MIA,120,...,709.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2015,3,7,6,US,1742,N520UW,LAX,CLT,915,...,1641.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999971,2015,3,7,6,VX,204,N641VA,SFO,ORD,915,...,1730.0,125.0,0,0,NaN,0.0,0.0,117.0,0.0,8.0
999972,2015,3,7,6,VX,500,N640VA,FLL,JFK,915,...,1201.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999973,2015,3,7,6,VX,902,N528VA,SFO,LAS,915,...,1048.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999974,2015,3,7,6,WN,443,N368SW,DAL,LIT,915,...,1010.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999975,2015,3,7,6,WN,3187,N919WN,STL,PHX,915,...,1134.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999976,2015,3,7,6,WN,2511,N248WN,PIT,TPA,915,...,1133.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999977,2015,3,7,6,EV,4864,N15986,BTR,IAH,915,...,1018.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999978,2015,3,7,6,EV,4626,N17146,MSP,IAH,915,...,1205.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999979,2015,3,7,6,EV,4630,N28529,LFT,IAH,915,...,1003.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999980,2015,3,7,6,EV,4650,N26141,IAH,TUS,915,...,1048.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999981,2015,3,7,6,EV,4714,N14162,EWR,CLT,915,...,1108.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999982,2015,3,7,6,EV,4942,N147PQ,IAH,MSP,915,...,1139.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999983,2015,3,7,6,EV,5047,N883AS,SCE,ATL,915,...,1132.0,15.0,0,0,NaN,15.0,0.0,0.0,0.0,0.0
999984,2015,3,7,6,EV,5550,N917EV,CHA,ATL,915,...,1007.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999985,2015,3,7,6,EV,6103,N21197,CID,DEN,915,...,1033.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999986,2015,3,7,6,HA,19,N581HA,SMF,HNL,915,...,1313.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999987,2015,3,7,6,HA,303,N483HA,HNL,LIH,915,...,948.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999988,2015,3,7,6,MQ,3099,N699MQ,DFW,ACT,915,...,1015.0,22.0,0,0,NaN,0.0,0.0,2.0,20.0,0.0
999989,2015,3,7,6,MQ,2983,N500MQ,DFW,AMA,915,...,1054.0,28.0,0,0,NaN,0.0,0.0,28.0,0.0,0.0
999990,2015,3,7,6,MQ,3206,N606MQ,ORD,GRR,915,...,1111.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999991,2015,3,7,6,NK,446,N527NK,LAS,ORD,915,...,1609.0,81.0,0,0,NaN,1.0,0.0,0.0,80.0,0.0
999992,2015,3,7,6,NK,893,N614NK,ORD,DFW,915,...,1137.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999993,2015,3,7,6,OO,2875,N868CA,LAX,ABQ,915,...,1159.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999994,2015,3,7,6,OO,4725,N442SW,MSP,OMA,915,...,1020.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999995,2015,3,7,6,OO,6396,N114SY,BOI,SFO,915,...,957.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999996,2015,3,7,6,AA,334,N566AA,DFW,MFE,916,...,1042.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999997,2015,3,7,6,MQ,3641,N601MQ,DSM,DFW,916,...,1131.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
999998,2015,3,7,6,OO,5244,N710SK,LAX,ASE,916,...,1242.0,26.0,0,0,NaN,26.0,0.0,0.0,0.0,0.0
999999,2015,3,7,6,DL,805,N129DL,MSP,LAX,917,...,1052.0,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
my_chunk.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Data Storage
# Create Table that will store flight data in MariaDB
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Time, Datetime 
engine = create_engine('mysql+mysqlconnector://[user]:[password]@[address]/[schema]', echo=False) # Encrypt password in configuration library
meta = MetaData()

flights = Table(
   'flights', meta, 
   Column('YEAR', Integer)
)

meta.create_all(engine)

def add_column(engine, table_name, column):
    column_name = column.compile(dialect=engine.dialect)
    column_type = column.type.compile(engine.dialect)
    engine.execute('ALTER TABLE %s ADD COLUMN %s %s' % (table_name, column_name, column_type))
    
dtypes = [Date, String(50),String(50),String(50),String(50),String(50), Time, Time, Integer
          , Integer, Time, Integer, Integer, Integer, Integer, Time, Integer, Time, Time, Integer, String(50)
          , String(50), String(1), Inetger, Integer, Integer, Integer]

for c in columns:
    
    column = Column(c, String(100))
    add_column(engine, "flights", column)

# Import the first 100k rows into database for further analysis
#engine = create_engine('mysql+mysqlconnector://[root]:[SU2orange!]@[127.0.0.1]:[3306]/[final project]', echo=False)
#data.to_sql(name='flights', con=engine, if_exists = 'append', index=False)

In [ ]:
# Cleanse Data
# Concatenate Date columns and give day of the week (e.g. 1/1/2015 and Sunday instead of 7)

# concatenate the airline and flight number (e.g. AA1738)

# Change the times in the dataframe so they are formatted as HH:MM (e.g. 23:54 instead of 2354)

In [ ]:
# Create Machine Learning Model to predict if Airline probability of having a delay

In [ ]:
# Use Weather API to see if weather affected the flight status

In [ ]:
# Visualizations